<link rel="stylesheet" href="{skin:css/volumes.css}" />


<div class="position">
        <h2>
            <a href="{url:}">首页</a> &gt; <a href="{url:/simple/vip}" id="CtiyName">选礼中心</a>
            &gt;
           {$title}</h2>            
    </div>


   <div class="rightside">
		<h2 class="morefenlei">VIP专区</h2>
		<div class="newdiv">
			
           <ul class="logoUl">
				<li><img src="{skin:images/vip/large.jpg}" onclick="show()"></li>
				<li><img src="{skin:images/vip/jianhang.jpg}" onclick="show()"></li>
				<li><img src="{skin:images/vip/zhonggong.jpg}" onclick="show()"></li>
				<li><img src="{skin:images/vip/dianwang.jpg}" onclick="show("></li>
				<li><img src="{skin:images/vip/gongshang.jpg}" onclick="show()"></li>
				<li><img src="{skin:images/vip/ximenzi.jpg}" onclick="show()"></li>
				<div class="clear"></div>
			</ul>

			
		</div>
	</div>


<script>
    function show()
    {
        window.location.href = '{url:/simple/exchange}';
    }

</script>