{set:
	$user = $this->user;
	$myCartObj = new Cart();
	$myCartInfo = $myCartObj->getMyCart();
	$siteConfig = new Config("site_config");
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{echo:$siteConfig->name}</title>
	<link type="image/x-icon" href="favicon.ico" rel="icon">
        <link rel="stylesheet" href="{skin:css/old.css}" />
	<link rel="stylesheet" href="{skin:css/common.css}" />
	{js:jquery}
	{js:form}
	{js:validate}
	{js:dialog}
	<script type='text/javascript' src="{theme:javascript/common.js}"></script>
	<script type='text/javascript' src="{url:/javascript/adloader/}"></script>
	<script type='text/javascript' src='{theme:javascript/site.js}'></script>
</head>
    
    
    <!-- top start -->
    <div class="top">
        
        <div class="head_bar">
            <div class="theme">
                <ul class="head_bar_logo">
                    <li style="padding-left: 3px;">
                        <img src="{skin:images/index/scstar_icon.gif}"></li>
                    <li style="border-left: none; padding-left: 5px; width: 85px;" class="shoucang"><a href="javascript:addBookmark('{echo:$siteConfig->name}',window.location.href)">收藏{echo:$siteConfig->name}</a></li>
                </ul>
                <ul class="head_bar_link" style="float: right; padding-right: 20px;">
                     {if:(isset($user['user_id']) && $user['user_id'])}
                    <li><span id="welcome">亲爱的{$user['username']}，欢迎光临！&nbsp;&nbsp; <a href="{url:/ucenter/index}">我的帐户</a>&nbsp;|&nbsp<a href="{url:/simple/logout}" class="reg">安全退出</a>
                        &nbsp;|&nbsp;<a href="../Sale/SaleCart.aspx" class="a1">购物车</a> &nbsp;|&nbsp;<a href="../Service/h_%E6%94%AF%E4%BB%98%E6%96%B9%E5%BC%8F_aspx_help-S49.aspx">帮助中心</a>&nbsp;|&nbsp;<a href="../Web/ArticleCulture.aspx">送礼文化</a></li>
                        </span>{else:}
                        [<a href="{url:/simple/login}">登录</a>
			{set:$callback = IFilter::act(IReq::get('callback'),'text') ? urlencode(IReq::get('callback')) : ''}
                            {if:$callback}
                            <a class="reg" href="{url:/simple/reg?callback=$callback}">免费注册</a>
                            {else:}
                            <a class="reg" href="{url:/simple/reg}">免费注册</a>
                            {/if}
			]
		   {/if}
                </ul>
            </div>
       </div>
        
        
        <div class="theme" style="height: 85px;">
            <div class="head_shop">
                <div style="float: left;">
                    <a href="{url:}">
                        <img src="{skin:images/index/weblogo.jpg}" height="58" width="161" alt=""></a></div>
                <div style="float: left; margin-left: 25px;">
                    <ul>
                        <form method='get'>
                            <input type='hidden' name='controller' value='site' />
                            <input type='hidden' name='action' value='search_list' />
                            <li class="head_shop_search">
                                <input id="txtSearchName" type="text" name='word' class="input_txt" value="输入关键字...">
                            </li>
                            <li class="head_shop_btn">
                                <input type="submit"  class="btn"  value="" style="border-width: 0px;" onclick="checkInput('word','输入关键字...');">
                            </li>
                        </form>
			<!--自动完成div 开始-->
			<ul class="auto_list" style='display:none'></ul>
			<!--自动完成div 开始-->
                        
                        <li class="head_shop_hotword">

        <span style=" font-weight:bold;">热门搜索词：</span>


        
                {set: $hot_words = array('礼品册','中秋','生日礼物','年会礼物','送长辈'); }
			{foreach:items =$hot_words item = $word}
			{set:$tmpWord = urlencode($word);}
                         <span><a href="{url:/site/search_list/word/$tmpWord}">
                             {$word}&nbsp;</a></span>
			{/foreach}
                        </li>
                    </ul>
                </div>
                <div style="float: right;">
                    <img src="{skin:images/index/toptel.jpg}"><br>

                </div>
            </div>
        </div>
        
        
        
        
        <!-- nav bar start -->
        <div class="nav_box">
            <ul class="nav">
                  
                <li class="c1_title"><a href="{url:}" class="c1">
                            首页
                        </a>
                </li>
                {set:$i=0;}
                {query:name=guide}
                {set:$i++;$item['link']=IUrl::creatUrl($item['link']);}
                <li class="c1_title"><a href="{$item['link']}" class="c1 c1_over">{$item['name']} </a></li>

                {/query}
                
              
            <div id="ucPageHead_ucNavigation_rptC1_NavigationContent_1" class="c2_title" style="display: none;">
                <table cellpadding="0" cellspacing="0" class="cat_tbl">
                            <tbody>
                             <tr>
                                <td class="tit">
                                    <h2>
                                        <a href="">
                                           礼品册
                                        </a>
                                    </h2>
                                </td>
                                <td class="txt">
                                    
                                </td>
                            </tr>
                </tbody></table>
                
               
            </div>
        </li>
            </ul>
        </div>
        <!-- nav bar end -->
    </div>
    <!-- top end -->
    <div class="clear"></div>
    
    
    <!-- main start -->
    <div class="main">
        	{viewcontent}
    </div>
    <!-- main end -->
    
    
    
    <!--footer start -->
   
      
        <!--底部导航-->
        <div class="theme">
            <div class="footer_nav">
                <p>




            | <a href="../Service/h_关于我们_aspx_help-S64.aspx" target="_blank" title="关于我们">关于我们</a>

            | <a href="../Service/h_联系我们_aspx_help-S65.aspx" target="_blank" title="联系我们">联系我们</a>

            | <a href="../Service/h_招聘信息_aspx_help-S66.aspx" target="_blank" title="招聘信息">招聘信息</a>

            | <a href="../Service/h_媒体报道_aspx_help-S67.aspx" target="_blank" title="媒体报道">媒体报道</a>

            | <a href="../Service/h_站点地图_aspx_help-S68.aspx" target="_blank" title="站点地图">站点地图</a>

            | <a href="http://www.dfld.cn/Web/m_bohinet_aspx_manual-S11.aspx" target="_blank" title="经销商">经销商</a>










                    </p>
            </div>
        </div>
        <!--底部copyright-->
        <div class="theme">
            <div class="footer_copyright">
             {echo:IFilter::stripSlash($siteConfig->site_footer_code)}
            </div>
        </div>

            </div>
    <!-- footer end -->
    
    
    
    
    
    
    
    
    
    
    

<script type='text/javascript'>
$(function()
{
	{set:$word = IReq::get('word') ? IFilter::act(IReq::get('word'),'text') : '输入关键字...'}
	$('input:text[name="word"]').val("{$word}");

	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
	});

        
        //email订阅 事件绑定
	var tmpObj = $('input:text[name="orderinfo"]');
	var defaultText = tmpObj.val();
	tmpObj.bind({
		focus:function(){checkInput($(this),defaultText);},
		blur :function(){checkInput($(this),defaultText);}
	});

});


//电子邮件订阅
function orderinfo()
{
	var email = $('[name="orderinfo"]').val();
	if(email == '')
	{
		alert('请填写正确的email地址');
	}
	else
	{
		$.getJSON('{url:/site/email_registry}',{email:email},function(content){
			if(content.isError == false)
			{
				alert('订阅成功');
				$('[name="orderinfo"]').val('');
			}
			else
				alert(content.message);
		});
	}
}
</script>

</body>
</html>
